body{
  background-image: url('homepage.jpg');
  margin:0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51, .7);
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 32px;
  text-decoration: none;
  font-family: 'Montserrat';
}

li a:hover:not(.active) {
  background-color: 	rgb(66, 128, 71);
  font-weight: 500;
}

.active {
  background-color: white;
  color:#333;
  font-weight: 500;
}